@model IEnumerable<CsvFileReaderApp.Controllers.CsvFields>

@{
    ViewBag.Title = "LoadFile";
}

<!DOCTYPE html>

<html>
<head>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
    <title>LoadFile</title>
</head>
<body class="text-center">
    <br />
    <input type="button" class="btn btn-outline-success" value="SaveFile" onclick="location.href='@Url.Action("SaveFile","Home")'" data-toggle="tooltip" data-placement="right" title="Saves users(with valid ZipCode) to Database">
    <br />
    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ErrorMsg)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="background-color: @(item.ErrorMsg == null ? "white" : "red")">
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ErrorMsg)
                </td>
            </tr>
        }
    </table>
    <br />
    <footer>
        <p>&copy; @DateTime.Now.Year - Csv file reader App by: Dominik Polzer</p>
    </footer>
</body>
</html>